@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  background: #0c0c0c;
  color: white;
}

::selection {
  background: #0c0c0c;
  color: white;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  cursor: url("../public/cursor.svg"), auto;
}

.link:hover {
  background: linear-gradient(-45deg, #007cbe, #24e05c, #007cbe);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 25s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 400% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#circle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49.8%, -49.4%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#text {
  animation: rotate 10s linear infinite;
  transition: all 0.3s ease;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#letsgobtn,
#topBtn {
  box-shadow: 5px 3px 0px 0px #0c0c0c;
  transform: translate(7px, 4px);
  transition: all 0.3s ease;
}
#letsgobtn:hover {
  box-shadow: 12px 7px 0px 0px #0c0c0c;
  transform: translate(0, 0);
}
#topBtn:hover {
  box-shadow: 8px 4px 0px 0px #0c0c0c;
  transform: translate(7px, 4px);
}
#pfp {
  padding: 0;
  margin: 0;
  background-image: url("../public/pfp.jpeg");
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  overflow: hidden; /* control overflow */
  background-clip: content-box;
}
.slide-in-right {
  animation: slide-in-right 0.3s ease-out forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

